form {

    outline: 1px solid #ccc;
    padding: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    label, input {
        width: 100%;
        margin-bottom: 1rem;
    }
    
    input {
        width: 100%;
        padding: .5rem;
        &:focus,
        &:active {
            outline: none;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
    
}