@import "./styles/general";
@import "./styles/variables";
@import "./styles/mixins";

@import "./styles/elements/elements";
@import "./styles/elements/forms";

* {
    box-sizing: border-box;
}

.App {
    main {

        // padding: 2rem 1rem;
        height: auto;
        
        padding-bottom: 5rem;

        
    }

    // &>footer {

    //     height: 20vh;

    //     background-color: #388187;
    //     color: #fff;

    // }

}